body, html {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

p,
a {
    line-height: 1.6;
    font-size: 18px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo-nav {
    padding-left: 50px;
    color: #128C76;
    font-family: 'Josefin Sans';
    font-size: 24px;
    letter-spacing: 0.06em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 432px;
    height: 54px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.nav-bar ul li {
    position: relative;
}

.nav-bar ul li a {
    font-family: 'Josefin Sans';
    text-decoration: none;
    font-size: 14px;
    color: black;
    padding: 5px 0;
    transition: color 0.3s;
    font-weight: 600;
}

.nav-bar ul li a::after {
    font-size: 12px;
    color: black;
    padding-left: 5px;
    transition: transform 0.3s;
}

.btn1 {
    height: 1.2cm;
    width: 3cm;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #128C76;
    color: white;
    border-radius: 0;
    font-family: 'Josefin Sans';
}

.btn2 {
    height: 1.2cm;
    width: 4cm;
    color: #F56B8D;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #F56B8D;
    border-radius: 0;
    font-family: 'Josefin Sans';
}

.hero-section {
    font-family: 'Josefin Sans';
    position: relative;
    background-image: url('./header1.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 300px 0;
    max-height: 90vh;
    overflow: hidden;

}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 51, 102, 0.5);
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10%;
}

.text-container {
    color: white;
    max-width: 770px;
    padding: 20px;
}

.text-container h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 20px;
    line-height: 1.2;
    padding-bottom: 20px;
}

.text-container p {
    font-size: 20px;
    margin: 0 0 20px;
    padding-bottom: 30px;
}

.cta-button {
    padding: 20px 55px;
    background-color: #128C76;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 13px;
    cursor: pointer;
}

#h-font {
    font-family: 'Josefin Sans';
}

.text1 {
    padding-top: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 100px 30px 100px;
}

.product-card {
    position: relative;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 31%;
    max-width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.product-card img {
    width: 100%;
    height: auto;
}

.tags {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    gap: 8px;
    z-index: 1;
}

.tags span {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    font-weight: bold;
    padding: 7px 12px;
    border-radius: 0px;
    font-size: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 20px;
    text-align: left;
}

.product-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0 5px;
}

.product-card .location {
    font-size: 14px;
    color: #999999;
    margin: 0;
    padding-bottom: 10px;
}

.product-card .description {
    font-size: 14px;
    margin: 15px 0;
    color: #333;
}

.product-card .raised {
    font-size: 14px;
}

.product-card .raised span {
    color: #128C76;
    font-size: 16px;
    font-weight: bold;
}

.view-btn {
    padding: 20px 45px 20px 45px;
    color: #F56B8D;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #F56B8D;
    border-radius: 0;
    font-family: 'Josefin Sans';
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
}

.apply-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.apply-div {
    max-width: 570px;
}

.apply-h {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
    margin-top: -10px;
}

.apply-p {
    font-size: 17px;
    color: #999999;
    margin-bottom: 30px;
}

.apply-btn {
    padding: 20px 55px;
    background-color: #128C76;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    text-transform: capitalize;
    font-size: 13px;
    font-family: 'Josefin Sans';
    cursor: pointer;
}

.apply-img-div {
    max-width: 500px;
    margin-left: 60px;
}

.apply-img-div img {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #ECECEC;
    padding: 40px 0;
    font-family: 'Josefin Sans', Arial, sans-serif;
}

.footer-top,
.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px 20px;
    text-align: left;
}

.footer-column h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 14px;
    color: #333333;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}

.footer-column ul li a:hover {
    color: #000;
}

.footer-column.to-top {
    position: absolute;
    top: 2200px;
    right: 100px;
}

.footer-column.to-top .scroll-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #128C76;
    border-radius: 50%;
    text-decoration: none;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    position: relative;
    color: transparent;
}

.footer-column.to-top .scroll-to-top::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
    position: absolute;
}


.newsletter {
    flex: 2;
}

.newsletter h4 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    padding-top: 30px;
    margin-left: 20px;
}

.newsletter form {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.newsletter input[type="email"] {
    font-family: 'Josefin sans';
    background-color: transparent;
    padding: 10px;
    border: 1px solid #e0e0e0;
    outline: none;
    width: 200px;
}

.newsletter button {
    padding: 0 15px;
    background-color: #F56B8D;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 40px;
    color: white;
    font-size: 20px;
}

.social-links {
    display: flex;
    gap: 30px;
    margin-top: 90px;
}

.social-links a {
    color: #333333;
    font-size: 20px;
    text-decoration: none;
}

.footer-column:nth-child(2) {
    margin-left: 150px;
}